/* app css stylesheet */
#img-logo {
    margin-top: -5px;
    margin-left: -5px;
    width: 32px;
    height: 32px;
}
.main-content {
    margin-top: 65px;
}
.loading{ 
    background:url(/images/circular.gif); 
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}